.NothingHere {
    width: 100%;
    margin-top: 3vh;
}

.NothingHere h1 {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    line-height: 3.6rem;
    color: rgba(0,0,0,0.87);
    padding: 3vh 0;
    margin-bottom: 10vh;
}

.Link {
    margin: 3% auto;
    background: gold;
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    display: block;
    width: 20%;
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.2rem;
    padding: 2%;
    border-radius: 8px;
}

.Link:hover {
    background: goldenrod;
}

@media (max-width: 500px) {

    .Title {
        padding: 7%;
    }

    .NothingHere h1 {
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
        line-height: 2.4rem;
        margin-bottom: 1vh;
        padding: 1vh;
    }

    .NothingHere img {
        width: 40%;
    }

    .Link {
        width: 90%;
        font-size: 1.2rem;
        margin-top: 7%;
    }
}