.Modal {    
    position: fixed;
    left:0;
    bottom:0;
    transition: transform 0.1s linear;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width:100vw;
    height:100vh;
    background: rgba(255,255,255,0);
}
.Background {
    background: rgba(0,0,0,0.7);
    height: 350px;
    border-radius: 8px;
    width: 30%;
    min-width:300px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.Content {
    background: white;
    height: 60%;
    width: 80%;
    border-radius: 8px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 3%;
}

.ItemAdicionado {
    border: 1px dashed gainsboro;
    width: 95%;
    height: 95%;
    margin: auto;
}

.ItemAdicionado p {
    margin: 5% auto 0;
    padding: 5%;
    width: 90%;
    letter-spacing: 0.08rem;
    line-height: 1.3rem;
    font-size:1.1rem;
}

.ItemAdicionado img {
    padding: 5% 0;
}

.Buttons {
    width: 100%;
    height: 50px;
    margin: 0 auto 5%;
    justify-content: space-evenly;
    display: flex;
}