.calltoaction {
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    padding: 2%;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
}

.CardsContainer {
    display: flex;
    margin: auto;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:500px) {
    .calltoaction {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}