.Parabens {
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Conteudo h1 {
    font-family: Oswald, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.4rem;
    background: rgba(0,0,0,0.87);
    color: white;
    padding: 3vh 0;
    margin-bottom: 10vh;
    width: 90%;
    margin: 3% auto;
}

.Conteudo img {
    margin: 3vh auto 0;
}

@media (max-width: 500px){
    .Conteudo h1 {
        font-size: 1.7rem;
        line-height: 2.1rem;
        margin-bottom: 20%;
    }

    .Conteudo img {
        width: 100%;
    }
}
