.Container {
    margin: 3vh auto;
    width: 80%;
    min-width: 800px;
}

.Title {
    font-family: Oswald, sans-serif;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    color: white;
    background: rgba(0,0,0,0.87);
    padding: 3vh 0;
    margin-bottom: 6vh;
}

hr {
    border: 1px solid rgba(0,0,0,0.87);
    margin: 6vh 0;
}

.TotalPrice {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.8rem;
    line-height: 4rem;
}

.ButtonsControl {
    width: 40%;
    height: 50px;
    display: flex;
    margin: 3% auto;
    justify-content: space-around;
}

@media (max-width: 500px) {
    .Container {
        margin: 3vh auto;
        min-width: 300px;
        width: 90%;
    }
    
    .Title {
        font-family: Oswald, sans-serif;
        font-size: 3rem;
        letter-spacing: 0.4rem;
        color: white;
        background: rgba(0,0,0,0.87);
        padding: 3vh 0;
        margin-bottom: 6vh;
    }
    
    hr {
        border: 1px solid rgba(0,0,0,0.87);
        margin: 6vh 0;
    }
    
    .TotalPrice {
        font-family: Oswald, sans-serif;
        font-weight: 400;
        font-size: 2.0rem;
        letter-spacing: 0.6rem;
        line-height: 3rem;
    }
    
    .ButtonsControl {
        width: 100%;
        height: 50px;
        display: flex;
        margin: 60px auto;
        justify-content: space-around;
    }
}