.Hero {
    background-image: url('../../Assets/images/team.jpg');
    background-size: cover;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
}

.Hero div {
    width: 50%;
    text-align: left;
    margin-left: 3%;
}

.Hero h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem;
    color: mintcream;
    line-height: 6rem;
    margin-bottom: 2%;
}

.Hero p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: mintcream;
    line-height: 2.19rem;

}

.Hero span {
    background-color: rgba(0,0,0,0.8);
    padding: 0 8px;
}

@media (max-width: 500px) {
    .Hero {
        background-position: right;
        width: 100%;
        height: 70vh;
        align-items: flex-start;
    }
    
    .Hero div {
        width: 95%;
        margin-top: 5%;
        text-align: right;
    }
    
    .Hero h1 {
        font-family: 'Oswald', sans-serif;
        font-size: 2.6rem;
        color: mintcream;
        line-height: 4.3rem;
        margin-bottom: 100px;
    }
    
    .Hero p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        color: mintcream;
        line-height: 2.19rem;
    
    }
    
    .Hero span {
        background-color: rgba(0,0,0,0.5);
        padding: 0 8px;
    }
}